[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "datacult"]
	path = datacult
	url = https://github.com/cran/datacult
[submodule "lettervalue"]
	path = lettervalue
	url = https://github.com/gilberto-sassi/lettervalue
[submodule "sinar"]
	path = sinar
	url = https://github.com/gilberto-sassi/sinar
[submodule "statBasics"]
	path = statBasics
	url = https://github.com/gilberto-sassi/statbasics
