[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geoFKF"]
	path = geoFKF
	url = https://github.com/gilberto-sassi/geofkf
[submodule "geoFourierFDA"]
	path = geoFourierFDA
	url = https://github.com/gilberto-sassi/geofourierfda
[submodule "sinar"]
	path = sinar
	url = https://github.com/gilberto-sassi/sinar
[submodule "statBasics"]
	path = statBasics
	url = https://github.com/gilberto-sassi/statbasics
